<div class="versand">
  <div class="versand-wrapper">
  <div class="versand-item">
    <div class="icon">
      <svg width="478" height="478" viewBox="0 0 478 478" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M451.598 151.126C435.698 133.926 413.098 124.526 387.998 124.526H322.498V87.7256C322.498 81.1256 317.098 75.7256 310.498 75.7256H12.2979C5.69785 75.7256 0.297852 81.1256 0.297852 87.7256V351.626C0.297852 358.226 5.69785 363.626 12.2979 363.626H60.0979C63.9979 385.826 83.2979 402.726 106.598 402.726C129.898 402.726 149.198 385.826 153.098 363.626H310.498H336.798C340.698 385.826 359.998 402.726 383.298 402.726C406.598 402.726 425.898 385.826 429.798 363.626H465.598C472.198 363.626 477.598 358.226 477.598 351.626V227.626C477.498 195.926 468.598 169.426 451.598 151.126ZM24.2979 99.7256H298.498V136.526V339.726H150.998C144.498 321.526 126.998 308.426 106.598 308.426C86.1979 308.426 68.6979 321.526 62.1979 339.726H24.2979V99.7256ZM106.598 378.726C93.7979 378.726 83.3979 368.326 83.3979 355.526C83.3979 342.726 93.7979 332.326 106.598 332.326C119.398 332.326 129.798 342.726 129.798 355.526C129.798 368.326 119.398 378.726 106.598 378.726ZM383.298 378.726C370.498 378.726 360.098 368.326 360.098 355.526C360.098 342.726 370.498 332.326 383.298 332.326C396.098 332.326 406.498 342.726 406.498 355.526C406.498 368.326 396.098 378.726 383.298 378.726ZM453.498 339.626H427.698C421.198 321.426 403.698 308.326 383.298 308.326C362.898 308.326 345.398 321.426 338.898 339.626H322.598V148.526H388.098C428.498 148.526 453.598 178.826 453.598 227.626V339.626H453.498Z" fill="black"></path><defs><clipPath id="clip0_6993_20742"><rect width="477.3" height="477.3" fill="white" transform="translate(0.297852 0.575684)"></rect></clipPath></defs></svg>
    </div>
    <div class="versand-text">
      <div class="title">{{ 'layout.versand.item_first' | t | escape }}</div>
    </div>
  </div>
  <div class="versand-item">
    <div class="icon">
      <svg width="475" height="475" viewBox="0 0 475 475" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M455.403 112.126C455.403 110.326 455.003 108.526 454.203 106.826C452.603 103.426 449.503 101.126 446.103 100.426L242.403 1.62603C239.103 0.0260254 235.203 0.0260254 231.903 1.62603L26.2033 101.326C22.2033 103.226 19.6033 107.226 19.4033 111.726V111.826C19.4033 111.926 19.4033 112.026 19.4033 112.226V362.426C19.4033 367.026 22.0033 371.226 26.2033 373.226L231.903 472.926C232.003 472.926 232.003 472.926 232.103 473.026C232.403 473.126 232.703 473.226 233.003 473.426C233.103 473.426 233.203 473.526 233.403 473.526C233.703 473.626 234.003 473.726 234.303 473.826C234.403 473.826 234.503 473.926 234.603 473.926C234.903 474.026 235.303 474.026 235.603 474.126C235.703 474.126 235.803 474.126 235.903 474.126C236.303 474.126 236.803 474.226 237.203 474.226C237.603 474.226 238.103 474.226 238.503 474.126C238.603 474.126 238.703 474.126 238.803 474.126C239.103 474.126 239.503 474.026 239.803 473.926C239.903 473.926 240.003 473.826 240.103 473.826C240.403 473.726 240.703 473.626 241.003 473.526C241.103 473.526 241.203 473.426 241.403 473.426C241.703 473.326 242.003 473.226 242.303 473.026C242.403 473.026 242.403 473.026 242.503 472.926L448.803 372.926C452.903 370.926 455.603 366.726 455.603 362.126V112.426C455.403 112.326 455.403 112.226 455.403 112.126ZM237.103 25.726L415.503 112.226L349.803 144.126L171.403 57.626L237.103 25.726ZM237.103 198.726L58.7033 112.226L143.903 70.926L322.303 157.426L237.103 198.726ZM43.4033 131.526L225.103 219.626V442.926L43.4033 354.826V131.526ZM249.103 442.926V219.626L334.403 178.226V236.626C334.403 243.226 339.803 248.626 346.403 248.626C353.003 248.626 358.403 243.226 358.403 236.626V166.526L431.403 131.126V354.426L249.103 442.926Z" fill="black"></path><defs><clipPath id="clip0_6993_19818"><rect width="473.8" height="473.8" fill="white" transform="translate(0.603516 0.426025)"></rect></clipPath></defs></svg>
    </div>
    <div class="versand-text">
      <div class="title">{{ 'layout.versand.item_second' | t | escape }}</div>
    </div>
  </div>
  <div class="versand-item">
    <div class="icon">
       <svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        	 viewBox="0 0 483.1 483.1" xml:space="preserve">
        <g>
        	<path fill="#000000" d="M434.55,418.7l-27.8-313.3c-0.5-6.2-5.7-10.9-12-10.9h-58.6c-0.1-52.1-42.5-94.5-94.6-94.5s-94.5,42.4-94.6,94.5h-58.6
        		c-6.2,0-11.4,4.7-12,10.9l-27.8,313.3c0,0.4,0,0.7,0,1.1c0,34.9,32.1,63.3,71.5,63.3h243c39.4,0,71.5-28.4,71.5-63.3
        		C434.55,419.4,434.55,419.1,434.55,418.7z M241.55,24c38.9,0,70.5,31.6,70.6,70.5h-141.2C171.05,55.6,202.65,24,241.55,24z
        		 M363.05,459h-243c-26,0-47.2-17.3-47.5-38.8l26.8-301.7h47.6v42.1c0,6.6,5.4,12,12,12s12-5.4,12-12v-42.1h141.2v42.1
        		c0,6.6,5.4,12,12,12s12-5.4,12-12v-42.1h47.6l26.8,301.8C410.25,441.7,389.05,459,363.05,459z"/>
        </g>
        </svg>
    </div>
    <div class="versand-text">
      <div class="title">{{ 'layout.versand.item_third' | t | escape }}</div>
    </div>
  </div>
</div>
</div>
<style>
  .versand{
    
    background: #E9E4E0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .versand-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1320px;
    margin: 0 auto;
  }
  .versand-item{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .versand-text{
    text-decoration: none;
    color: #242D35;
    font-size: 14px;
    line-height: 1.4;
    font-family: Nunito, sans-serif;
    font-weight: 500;
    margin-left: 20px;
  }
  @media(max-width: 1024px){
    .versand{
      
    }
  }
  @media(max-width: 992px){
    .versand{
      padding-bottom: 20px;
    }
    .versand-wrapper{
      grid-template-columns: 1fr;
    }
    .versand-item{
      justify-content: flex-start;
      margin-bottom: 20px;
    }
  }
  @media(max-width: 768px){
    .versand{
      padding-left: 40px;
      padding-right: 80px;
    }
  }
</style>